<html>
    <head>
        <title>chatIt</title>
        <link rel="stylesheet" href="../assets/index.css">
    </head>
    <body>
        <div id="div1">
            <span id="span1"><b>chatIt</b></span>Now</br>
            <span id="span2">
                    Enlight your chatting experience</span>
        </div></br>
        <img id="img1" height="90" width="90" src="../assets/iconMain.jpg">
        
        <form method="POST" action="/">
            <table align="center" id="table1">
                <tr>
                    <th colspan="2" align="center">Log in</th>
                </tr>
                <tr>
                    <td>User name :</td>
                    <td>Password :</td>
                </tr>
                <tr>
                    <td><input type="text" name="logInUsername" id="logInUsername" /></td>
                    <td><input type="password" name="logInPass" id="logInPass" /></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" name="submit" id="submit" value="logIn" /></td>
                </tr>
            </table>
        </form>
        <form method="POST" action="/">
            <table align="center"id="table2">
                <tr>
                    <th colspan="2" align="center">Sign up</th>
                </tr>
                <tr>
                    <td>User name :</td>
                    <td><input type="text" name="username" id="username" /></td>
                </tr>
                <tr>
                    <td>Password :</td>
                    <td><input type="password" name="pass" id="pass" /></td>
                </tr>
                <tr>
                    <td>Retype Password :</td>
                    <td><input type="password" name="rePass" id="rePass" /></td>
                </tr>
                <tr>
                    <td>E-mail :</td>
                    <td><input type="email" name="email" id="email" /></td>
                </tr>
                <tr>
                    <td colspan="2"> <input type="submit" name="submit" id="submit" value="signUp"/></td>
                </tr>
            </table>
        </form>
</html>