<html>
    <head>
        <title>chatIt</title>
        <link rel="stylesheet" href="../assets/index.css">
    </head>
    <body>
        <div id="div1">
            <span id="span1"><b>chatIt</b></span>Now</br>
            <span id="span2">
                    Enlight your chatting experience</span>
        </div></br>
        <span id="Credits"><img id="img1" height="90" width="90" src="../assets/icon2.ico"></span>

        <div id="Quote">
            <h1>"Abstractions hide details</h1>
            <h2>and give us the ability to talk about<h2>
            <h3>problems at a higher (or more abstract) level."</h3>
            <h4><pre>           - Marijn Haverbeke, Eloquent JavaScript</pre></h4>

            </br>

            <h1>"Write code that is</h1>
            <h2> easy to delete,<h2>
            <h3>not easy to extend."</h3>
            <h4><pre>           - Tef, Programming is Terrible</pre></h4>

        </div>
        <div id="tableDiv">
        <form method="POST" action="/">
            <table align="center" id="table1">
                <tr>
                    <th colspan="2" align="center">Log in</th>
                </tr>
                <tr>
                    <td>User name :</td>
                    <td>Password :</td>
                </tr>
                <tr>
                    <td><input type="text" name="logInUsername" id="logInUsername" /></td>
                    <td><input type="password" name="logInPass" id="logInPass" /></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" name="submit" id="submit" value="logIn" /></td>
                </tr>
            </table>
        </form>
        <form method="POST" action="/">
            <table align="center"id="table2">
                <tr>
                    <th colspan="2" align="center">Sign up</th>
                </tr>
                <tr>
                    <td>User name :</td>
                    <td><input type="text" name="username" id="username" /></td>
                </tr>
                <tr>
                    <td>Password :</td>
                    <td><input type="password" name="pass" id="pass" /></td>
                </tr>
                <tr>
                    <td>Retype Password :</td>
                    <td><input type="password" name="rePass" id="rePass" /></td>
                </tr>
                <tr>
                    <td>E-mail :</td>
                    <td><input type="email" name="email" id="email" /></td>
                </tr>
                <tr>
                    <td colspan="2"> <input type="submit" name="submit" id="submit" value="signUp" onclick="return validate()"/></td>
                </tr>
            </table>
        </form>
        </div>

        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
        <script>
            $(
                function()
                {
                    var errorMsg = '<%= errorMessage%>'
                    if(errorMsg != "")
                        alert(errorMsg)
                }
            )
            $("#Credits").on('click', function(event)
            {
                alert("Course Title : Software Development Project 1\nCourse Code : CSE 2100\nSubmitted by :\n Md. Taufiq Khan\n 1703125\nSupervisor :\n Md. Asifur Rahman\n Lecturer, Dept. of CSE,\n RUET\n\nContact :\n Phone : 01952749248\n e-mail : khantaufiq2017@gmail.com")
            })
            function validate()
            {
                var errorMsg = ""
                if(!$("#username").val())
                {
                    errorMsg += "User name can't be empty\n"
                }
                if(!$("#pass").val())
                {
                    errorMsg += "Password can't be empty\n"
                }
                if(!$("#rePass").val())
                {
                    errorMsg += "Retype Password can't be empty\n"
                }
                if(!$("#email").val())
                {
                    errorMsg += "Email can't be empty\n"
                }
                if(errorMsg != "")
                {
                    alert(errorMsg)
                    return false
                }
                else
                {
                    alert("Signed up successfully.")
                    return true;
                }
            }
        </script>
</html>