<html>
    <head>
        <title>chatIt</title>
        <link rel="stylesheet" href="../assets/index.css">
    </head>
    <body>
        <div id="div1">
            <span id="span1"><b>chatIt</b></span>Now</br>
            <span id="span2">
                    Enlight your chatting experience</span>
        </div></br>
        <img id="img1" height="90" width="90" src="../assets/iconMain.jpg">
        <body>
            <div id="chatBoxDiv1">
            </div>
        </br>
        <form id="chatBoxForm1">
            <input type="text" name="chatBoxtext1" id="chatBoxtext1" />
            <button>Send</button>
        </form>
    </body>    
</html>